.container {
  grid-column: 1 / 3;
}

.container img {
  /* width: 73rem;
  height: 30rem; */
  /* background-image: url(./../assets/images/image-web-3-desktop.jpg); */

  width: 100%;

  /* background-position: center; */

  /* object-fit: cover; */
  /* cursor: pointer; */
}

@media only screen and (max-width: 23.44em) {
  .container {
    grid-column: 1 / -1;
    margin-top: 0;
    width: 100%;
    height: 40rem;
    background-image: url(./../assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    margin-bottom: 3rem;
  }
  .container img {
    display: none;
  }
}
